*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI';
}
header nav{
    margin-top: 16px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
header nav ul{
    display: flex;
    padding: 2px;
    border-radius: 16px;
    justify-content: space-evenly;
    background-color:rgb(235, 232, 228);
    padding: 4px;
}
header nav ul li{
    padding: 4px 4px; 
    font-size: 16px;
    border-radius: 16px;
    padding: 5px;
}
header nav ul li a{
    color: black;
    text-decoration: none;    
    padding: 4px 16px;         
    transition: 0.3s; 
}
header nav ul li a:hover{
    background-color: white;
    padding: 4px 16px;
    border-radius: 16px;
}
main{
    text-align: center;
}
h1{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 48px;
}
main nav ul{
    display: flex;
    justify-content:space-between;
    gap: 16px;
    margin: auto;
    width: 470px;
}
main nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(235, 232, 228);
    color: black;
    border-radius: 30px;  
    font-size: 16px;
}
main nav ul li a{
    padding: 6px 16px;
    color: black;
    transition: 0.3s;
}
main nav ul li a:hover{
    background-color: white;
}
p{
    margin: 50px;
    font-size: 24px;
    font-weight: 600;
}
span{
    display: block;
    color: gray;
    margin-bottom: 70px;
}
/* ////////////////// parti gallery//////// */
body img {
    height: 240px ;
    width: 320px;
    border-radius: 5%;
}
.contenair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;  
    height: 100%;
}
.contenair1{
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    height:  100%;
}
.parti1, .parti2, .parti3 {
    display: flex;
    justify-content: center;
    gap: 20px; 
    width: 100%; 
    margin: 10px 0; 
}
/* ////////////////// partie footer //////// */
footer{
    padding: 100px;
    display: flex;
    justify-content:space-between;
    font-size: 16px;
}
footer>div>p{
    font-size: 16px;
}
footer a {
    color: black;
}
/* Responsive////////////////////// */
@media screen and ( max-width: 700px) {
    .parti1, .parti2, .parti3 {
        display: flex;
        flex-direction: column;    }

}