*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header nav{
    margin-top: 10px;
    display: block;
}
header nav ul{
    display: flex;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    justify-content: space-evenly;
    padding-left: 10px;
    background-color:rgb(235, 232, 228);
}
header nav ul li{
    padding: 10px; 
    font-size: x-small;
    border-radius: 20px;
    padding: 5px;

}

main{
 text-align: center;
}
h1{
   margin-top: 100px;
   margin-bottom: 20px;
   justify-content: center;
    padding-left:25% ;
    padding-right: 25%;
}
main nav ul{
    display: flex;
    border-radius: 10px;
    width: 250px;
    margin: auto;

    justify-content:space-between;
    padding-left: 10px;
}
main nav ul li{
    padding: 5px; 
    background-color:rgb(235, 232, 228);;
    border-radius: 30px;  
    font-size: x-small;
}


main div{
    margin-top: 50px;
    margin-bottom: 50px;
}
span{
    display: block;
    color: gray;
    margin-bottom: 70px;
}
footer{
    display: flex;
    justify-content:space-between;
    font-size: x-small;
}
footer a {
    padding-right: 15px;
    color: black;
}
footer p{
    padding-left: 20px;
}
a{
    color: black;
    text-decoration: none;             
    transition: color 0.3s ease, border-bottom 0.3s ease; 
 
}

a:hover {
    background-color: #fdfdfd; 
    padding: 15px;
    border-radius: 35px;          
}
/* ////////////////// parti gallery//////// */
body img {
    height: 240px ;
    width: 320px;
    border-radius: 5%;
}
.contenair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;  
    background-color: rgb(9, 9, 9);
    height: 100%;
    
    

}
.contenair1{
    background-color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    height:  100%;

}
.parti1, .parti2, .parti3 {
    display: flex;
    justify-content: center;
    gap: 20px; 
    width: 100%; 
    margin: 10px 0; 
}
/* Responsive////////////////////// */
@media screen and ( max-width: 700px) {
    .parti1, .parti2, .parti3 {
        display: flex;
        flex-direction: column;    }

}